header{height: 56px;
width: auto;
font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
font-size: 56px; 
background-color: 	#0000FF;
text-align: center;
margin: 20px;
padding: 20px;
}


body{width: 960px;
	background: #777;
	line-height: 180%;
	margin: 0;
    padding: 0;
}

.container {
	width: 1024px;
	margin: 0 auto;
}
aside{width: 500px;
height: 300px;
float: right;
}
